* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.m{
  margin-top: 20px;
}

.span-m{
  margin-top: 10px;
}

.color-white{
  color: white;
  font-size: 1.5rem;
}

.color-one{
background-color: brown;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
}

body {
  background-color: var(--black-color);
}

.title-icon{
  font-size: 2.0rem;
  color: rgb(28, 236, 173);
}

:root {
  --primary-color: #ffffff;
  --second-color: #75f884;
  --black-color: #060b2f;
  --black-color-medium: #2e2d368c;
  --semi-black: #221c1c;
  --white-color: #fefeff;
}

/* Grid normal 12columns */
.container {
  width: 100%;
  max-width: 1246px; /* 15px de cada lado x2 = 30px */
  margin: 0 auto;
  padding: 0px 15px;
}

/* Grid fluid 100% */
.container-fluid {
  width: 100%;
  padding: 0px 18px;
}

/* Title Patterns */

h2 {
  font-family: "Inter";
  font-weight: 800;
  font-size: 6.4rem;
  line-height: 7.7rem;
  color: var(--white-color);
  margin-top: 2rem;
}

h2 span {
  color: var(--primary-color);
}

.btn-primary {
  border-radius: 24px;
  font-weight: 700;
  line-height: 2.4rem;
  font-size: 1.6rem;
  background-color: var(--primary-color);
  color: var(--black-color);
  padding: 1rem 2.6rem;
  transition: all 0.2s;
}

.btn-primary:hover {
  background-color: var(--white-color);
  transform: scale(1.04);
}

.btn-primary.empty {
  border: 2px solid var(--primary-color);
  border-radius: 24px;
  color: var(--primary-color);
  background-color: transparent;
  transition: all 0.3s;
}

.btn-primary.empty:hover {
  color: var(--black-color);
  background-color: var(--primary-color);
}

.menu-item {
  display: inline-block;
  color: var(--primary-color);
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
  transition: all 0.2s;
}

.margin{
  margin-left: 8%;
  color: white;
}

.menu-item:hover {
  color: var(--white-color);
  transform: scale(1.04);
}

.tag {
  border-radius: 5rem;
  padding: 0.6rem 2.7rem;
  background-color: yellow;
  font-size: 1.2rem;
  font-weight: 300;
}

/* form pattern */

input[type="text"],
textarea {
  background-color: var(--semi-black);
  border: 1px solid var(--semi-black);
  border-radius: 0.4rem;
  width: 100%;
  padding: 2rem;
  resize: none;
  color: var(--white-color);
  outline: none;
  transition: all 0.4s;
}

input[type="text"]:hover,
textarea:hover {
  border: 1px solid var(--primary-color);
}

@media (max-width: 1260px) {
  .s-success .container {
    flex-direction: column;
  }

  .s-success .container .title-success {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .s-success .container .title-success h2 {
    text-align: center;
  }
}
@media (max-width: 1133px) {
  .s-about .container {
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;
  }
  .s-about .container .about-me h2 {
    text-align: center;
  }
  .s-about .container .about-me p {
    text-align: center;
  }
  .s-about .container .about-me ul {
    justify-content: center;
  }
}
@media (max-width: 950px) {
  .s-success .container .cards {
    flex-direction: column;
    gap: 2.4rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .s-success .container .cards .card {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 0;
    max-width: 100%;
  }

  .s-success .container .cards .card .card-title h3 {
    margin-bottom: 0;
  }
  .s-cases .container .title-cases h2 {
    text-align: center;
  }
  .s-cases .container .cases {
    flex-direction: column;
    gap: 4rem;
  }

  .s-contact .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .s-contact .container .title-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
  }
  .s-contact .container .title-contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .input-button {
    justify-content: center;
  }
}

@media (max-width: 900px) {
  header .container nav,
  header .container nav .menu {
    flex-direction: row;
  }

  header .container {
    display: inline-block;
  }

  header .container nav .menu,
  header .container nav .btn-primary,
  header .container nav .menu-social {
    display: flex;
  }

  header .container nav .btn-primary{
    padding: 1.0rem;
  }
 
  header .container nav .menu {
    gap: 6rem;
    justify-content: center;
    align-items: center;
  }

  header .container nav .menu li,
  header .container nav .menu-social {
    margin: 0 auto;
  }

  header .container nav .menu li a {
    font-size: 1.5rem;
  }

  .s-contact .container .title-contact{
    margin-left: 21.0rem;
  }

  .s-contact .container .form-contact{
    margin-left: 15.0rem;
  }
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 4rem 0px;
  z-index: 2021;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .container nav .menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header .container nav .menu li {
  margin-right: 4.8rem;
}

header .container nav .menu-social {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-left: 4rem;
  gap: 3.4rem;
}
header .container nav .menu-social img {
  transition: all 0.2s;
}
header .container nav .menu-social img:hover {
  filter: brightness(90%);
  transform: translateY(-5%);
}

/* Section hero */
.s-hero {
  
  background-size: cover;
  background-repeat: no-repeat;
}

.s-hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.s-hero .container .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 59.2rem;
  margin-top: 24rem;
  padding-bottom: 6rem;
}

.s-hero .container .title h1 {
  font-family: "Inter";
  font-weight: 700;
  font-size: 3.4rem;
  line-height: 3.7rem;
  text-align: center;
  color: var(--white-color);
}

.s-hero .container .title h1 span {
  color: var(--primary-color);
}

.s-hero .container .title h2 {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.6rem;
  text-align: center;
  color: #00ffdd;
  margin-bottom: 3.2rem;
}

.s-hero .container .title p {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.7rem;
  text-align: center;
  color: rgb(0, 83, 250);
}

.s-hero .container .title .techs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
  margin-top: 2.3rem;
}

.s-hero .container .title .btn-primary {
  margin-top: 4rem;
  padding: 1rem 5.6rem;
}

/* Section Success */

.s-success {
  padding: 14.4rem 0;
  margin: 0 auto;
}

.s-success .container {
  display: flex;
  align-items: center;
  gap: 3.4rem;
}

.s-success .container .title-success h2  {
  font-family: "Inter", sans-serif;
  font-size: 4.5rem;
}

.s-success .container .cards {
  display: flex;
}

.s-success .container .cards .card {
  width: 100%;
  height: 30.4rem;
  background-color: var(--white-color);
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s;
}

.s-success .container .cards .card:hover {
  filter: brightness(90%);
}

.s-success .container .cards .card.active {
  background-color: var(--primary-color);
}

.s-success .container .cards .card-2 {
  margin: 0 3.3rem 0 3.3rem;
}

.s-success .container .cards .card .card-title {
  margin: 5rem 0;
  padding-right: 14.5rem;
  padding-left: 1.4rem;
}

.s-success .container .cards .card .card-info {
  padding-left: 1.4rem;
}

.s-success .container .cards .card .card-title h3 {
  font-family: "Inter";
  font-weight: 300;
  font-size: 6.4rem;
  line-height: 7.7rem;
  margin-bottom: 5.5rem;
}

.s-success .container .cards .card .card-info p {
  font-family: "Inter";
  font-weight: 300;
  font-size: 2.8rem;
  line-height: 3.9rem;
}

/* About */

.s-about {
  background-color:#060b2f;
  padding: 6rem 0;
}

.s-about .container {
  display: flex;
  justify-content: space-between;
}

.s-about .container .about-me {
  width: 100%;
  max-width: 71rem;
}

.s-about .container .about-me p {
  font-weight: 400;
  line-height: 2.4rem;
  font-size: 1.6rem;
  color: rgb(255, 255, 255);
  margin-top: 2.4rem;
}

.s-about .container .about-me ul {
  display: flex;
  gap: 2.6rem;
  margin-top: 3.2rem;
}
.s-about .container .about-me ul li a img {
  transition: all 0.2s;
}
.s-about .container .about-me ul li a img:hover {
  transform: translateY(-12%);
  filter: brightness(80%);
}

.s-about .container .my-picture img {
  border-radius: 4px;
}

.s-cases {
  padding: 4.5rem 0;
  margin-bottom: 8rem;
}

.s-cases .container {
  display: flex;
  flex-direction: column;
}
.s-cases .container .title-cases {
  margin:0 0 7.3rem 34.0rem;
}

.s-cases .container .cases {
  display: flex;
  width: 100%;
  gap: 1.4rem;
  justify-content: center;
  align-items: center;
}

.s-cases .container .cases img {
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 0.2s;
}

.s-cases .container .cases img:hover {
  transform: translateY(-2%);
}

/* Contact */

.s-contact {
  padding-bottom: 4rem;
}

.s-contact .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.s-contact .container .title-contact h2 {
  margin-bottom: 2.4rem;
}

.s-contact .container .title-contact h2 span{
 color:#00ffdd
}

.s-contact .container .form-contact {
  width: 100%;
  max-width: 48.6rem;
}

.s-contact .container .form-contact .input-group input[type="text"] {
  margin-bottom: 3.1rem;
}
.s-contact .container .form-contact .input-group textarea {
  margin-bottom: 0;
}
.input-button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.s-contact .container .form-contact button {
  border-radius: 2.4rem;
  background-color: var(--primary-color);
  padding: 1rem 2.4rem;
  border: none;
  margin-top: 1.7rem;
  font-weight: 700;
}

/*Footer*/

footer {
  background-color: var(--black-color-medium);
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .container .copy {
  padding: 5.2rem 0;
}

footer .container .copy {
  color: rgba(255, 255, 255, 0.952);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}


@media (max-width: 624px) {
  .s-hero {
    background-position: center center;
  }

  .s-success .container .cards .card {
    flex-direction: column;
  }

  .s-success .container .cards .card .card-title {
    padding: 0;
  }
  .s-success .container .cards .card .card-title h3 {
    text-align: center;
  }

  .s-success .container .cards .card .card-info p {
    text-align: center;
  }

  .s-contact .container .title-contact {
    margin: 3.0rem;
  }

  .s-contact .container .form-contact {
    margin: 2.0rem;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 50.2%;
  }
}
